<section class="block-wrapper section-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 mx-auto">

						<div class="ts-grid-box">
							<div class="reg-page">
								<h3 class="log-sign-title mb-25 text-danger text-center">Inscrivez vous s'il vous plait 
									<i class="fa fa-edit text-danger" aria-hidden="true"></i></h3>
								<form>
									<i class="fa fa-user-edit text-danger"></i>
									<div class="form-row">
										<div class="col form-group">
											<label for="inputPrenom">Prénom</label>   
												{# <input type="text" value="{{ prenom }}" name="prenom" id="inputPrenom" class="form-control" placeholder="" required autofocus> #}
										</div> <!-- form-group end.// -->
										<div class="col form-group">
											<label for="inputNom_Famille">Nom de famille</label>
												{# <input type="text" value="{{ Nom_Famille }}" name="nom_famille" id="inputNom_Famille" class="form-control" placeholder="" required autofocus> #}
										</div> <!-- form-group end.// -->
									</div> <!-- form-row end.// -->
									<div class="form-group">
									<label for="inputEmail">Adresse électronique</label>
                                	{# <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus> #}
										<small class="form-text text-muted">Nous ne partagerons jamais votre e-mail avec qui que ce soit.</small>
									</div> <!-- form-group end.// -->

									<div class="form-row">
										<div class="form-group col-md-6">
											<label>Ville</label>
											<input type="text" class="form-control">
										</div> <!-- form-group end.// -->
										<div class="form-group col-md-6">
											<label>Pays</label>
											<select id="inputState" class="form-control">
											<option> Choose...</option>
												<option selected="">Gabon</option>
												<option>Congo</option>
												<option>United States</option>
												<option>India</option>
												<option>Afganistan</option>
											</select>
										</div> <!-- form-group end.// -->
									</div> <!-- form-row.// -->
									<div class="form-group">
										<label>Mot de passe</label>
										<input class="form-control" type="password">
									</div> <!-- form-group end.// -->  
									<div class="form-group">
											<label>Confirmez le mot de passe</label>
											<input class="form-control" type="password">
										</div> <!-- form-group end.// --> 
									<div class="form-group">
										<button type="submit" class="btn btn-primary btn-block">  S'inscrire  </button>
									</div> <!-- form-group// -->      
									<small class="text-muted">En cliquant sur le bouton «S'inscrire», vous confirmez que vous acceptez nos conditions d'utilisation et notre politique de confidentialité.</small>                                          
								</form>
									<div class="border-top card-body text-center">Avez-vous déjà un compte? <a href="connexion.html">Se connecter</a></div>
							</div> <!-- card.// -->

						</div><!-- grid box end -->
					</div>
					<!-- col end-->
				</div>
				<!-- row end-->
			</div>
			<!-- container end-->
		</section>





       <!-- ************************-->
       	<form>
									<i class="fa fa-user-edit text-danger"></i>
									<div class="form-row">
										<div class="col form-group">
											<label for="inputPrenom">Prénom</label>   
												{# <input type="text" value="{{ prenom }}" name="prenom" id="inputPrenom" class="form-control" placeholder="" required autofocus> #}
										</div> <!-- form-group end.// -->
										<div class="col form-group">
											<label for="inputNom_Famille">Nom de famille</label>
												{# <input type="text" value="{{ Nom_Famille }}" name="nom_famille" id="inputNom_Famille" class="form-control" placeholder="" required autofocus> #}
										</div> <!-- form-group end.// -->
									</div> <!-- form-row end.// -->
									<div class="form-group">
									<label for="inputEmail">Adresse électronique</label>
                                	{# <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus> #}
										<small class="form-text text-muted">Nous ne partagerons jamais votre e-mail avec qui que ce soit.</small>
									</div> <!-- form-group end.// -->

									<div class="form-row">

										<div class="form-group col-md-6">

											<label>Ville</label>
											<input type="text" class="form-control">

										</div> <!-- form-group end.// -->

										<div class="form-group col-md-6">

											<label>Pays</label>
											<select id="inputState" class="form-control">

											<option> Choose...</option>
												<option selected="">Gabon</option>
												<option>Congo</option>
												<option>United States</option>
												<option>India</option>
												<option>Afganistan</option>
											</select>
                                            
										</div> <!-- form-group end.// -->

									</div> <!-- form-row.// -->
									<div class="form-group">
										<label>Mot de passe</label>
										<input class="form-control" type="password">
									</div> <!-- form-group end.// -->  
									<div class="form-group">
											<label>Confirmez le mot de passe</label>
											<input class="form-control" type="password">
										</div> <!-- form-group end.// --> 
									<div class="form-group">
										<button type="submit" class="btn btn-primary btn-block">  S'inscrire  </button>
									</div> <!-- form-group// -->      
									<small class="text-muted">En cliquant sur le bouton «S'inscrire», vous confirmez que vous acceptez nos conditions d'utilisation et notre politique de confidentialité.</small>                                          
								</form>
<!--**********************************-->
                                <div class="form-group">
										<label>Adresse électronique</label>
										<input type="email" class="form-control" placeholder="">
										<small class="form-text text-muted">Nous ne partagerons jamais votre e-mail avec qui que ce soit.</small>
									</div>