<!DOCTYPE html>
<html>
    <head>
        <!-- Basic Page Needs =====================================-->
	    <meta charset="utf-8">
	    <!-- Mobile Specific Metas ================================-->
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Site Title- -->
        <title>{% block title %}AZOBE.CRA{% endblock %}</title>
        
        <!-- CSS ====================================== -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="{{ asset('css/animate.css') }}">
	<!-- IcoFonts -->
	<link rel="stylesheet" href="{{ asset('css/icofonts.css') }}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{{ asset('css/owlcarousel.min.css') }}">
	<!-- slick -->
	<link rel="stylesheet" href="{{ asset('css/slick.css') }}">
	<!-- AZ -->
	<link rel="stylesheet" href="{{ asset('css/az-style.css') }}">
	<!-- navigation -->
	<link rel="stylesheet" href="{{ asset('css/navigation.css') }}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
	<!-- Style -->
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
	<!-- Style -->
	<link rel="stylesheet" href="{{ asset('css/colors/color-13.css') }}">
	<link rel="stylesheet" href="{{ asset('css/colors/color-15.css') }}">
	<!-- Responsive -->
	<link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/cookies.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>


         <br><br>

    <h4 class="text-center font-weight-bold"><img src="{{asset('images/logo/azologo.png')}}" alt="logo AZOBE" width="100px"></h4> <br>

    <h2 class="text-center font-weight-bold">Connexion Administrateur Azobe</h2> <br><br>

    {% block section %}
    <section class="block-wrapper section-bg">

        <div class="container">
                    <div class="row">
                        <div class="col-lg-5 mx-auto">
                            <div class="ts-grid-box">
                                <div class="login-page">
                                  
                                
                                    {# Se connecter avec d'autre réseau.#}
                                    {# <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                        <a href="#" class="btn btn-lg btn-primary btn-fb btn-block">Facebook</a>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                        <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
                                        </div>
                                    </div><!-- row end --> #}
                                {# <div class="login-or">
                                    <hr class="hr-or">
                                    <span class="span-or">ou</span>
                                </div> #}

                            <form method="post">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_login') }}">Logout</a>
                                    </div>
                                {% endif %}
                                <label for="inputEmail">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                                
                                <label for="inputPassword">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" required>

                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        
                                {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality. #}
                                {# See https://symfony.com/doc/current/security/remember_me.html #}

                                {# <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div> #}
                        
                                {# <p class="pull-right">
                                    <a href="{{path('app_forgot_password_request')}}"> Mot de passe oublié </a>
                                </p> #}
                                <br>
                                <button class="btn btn-lg btn-primary" type="submit">
                                Se Connecter en admin
                                </button>
                            </form>
    </div>
    </div>
                        <!-- grid box end -->
    </div>
                    <!-- col end-->
    </div>
    </section>
{% endblock %}



        {% block body %}{% endblock %}


        {% block javascripts %}{% endblock %}
    </body>
</html>
